/* General Styling */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
  display: block;
}

.main {
  padding: 0vh 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: #444;
  font-size: 5vh;
  margin-bottom: 2vh;
  font-weight: 500;
  letter-spacing: -0.1vw;
  margin-top: 0vh;
}

input[type="file"] {
  display: none;
}

label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 0.4vh dashed #444;
  border-radius: 2.5vh;
  width: 40vw;
  height: 20vh;
  padding: 0vh;
  font-size: 2vh;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0vh 1.5vh 3vh rgba(0, 0, 0, 0.3);
  margin: 2vh 2vw;
  background-image: url("./sprite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24%;
}

label:hover {
  background-color: #f1f1f1;
}

label:active {
  background-color: #e0e0e0;
  transform: translateY(0.2vh);
  box-shadow: 0vh 1.5vh 3vh rgba(0, 0, 0, 0.3);
}


a,
button {
  text-decoration: none;
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 5vh;
  padding: 1.6vh 3.2vw;
  font-size: 1.6vh;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0vh 1.5vh 3vh rgba(0, 0, 0, 0.3);
  margin: 1.6vh 2vw;
}

a:hover,
button:hover {
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  transform: translateY(-0.5vh);
  box-shadow: 0vh 1.5vh 3vh rgba(0, 0, 0, 0.4);
}

a:active,
button:active {
  transform: translateY(0.2vh);
  box-shadow: 0vh 1.5vh 3vh rgba(0, 0, 0, 0.3);
}

canvas {
  object-fit: contain;
  width: 60vw;
  max-width: 90vw;
  max-height: 60vh;
  margin-bottom: 10vh;
}

#uploads {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#options {
  display: inline-flex;
  flex-direction: column;
  align-items: right;
  align-content: right;
  align-items: right;
  text-align: right;
  background: #eee;
  padding: 2vh;
  border-radius: 2.5vh;
  margin: 2vh;
  outline: 0.2vh solid black;
}

.row {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.footer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #454556;
  outline: 0.8vh solid black;
  width: 100vw;
  height: 8vh;
  position: sticky;
  left: 0;
  bottom: 0;
  color: white;
}

.upload-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  background-color: transparent;
  margin: 2vh;
  padding: 0;
  border-radius: 2.5vh;
}

.slider {
  -webkit-appearance: none;
  width: 25vw;
  height: 1vh;
  background: #ddd;
  border-radius: 1vh;
  outline: none;
  transition: background 0.3s;
  margin-left: 1vw;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5vh;
  height: 2.5vh;
  background: #555;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.slider::-webkit-slider-thumb:hover {
  background: #333;
}

.sliderField {
  width: 6vw;
  padding: 1.2vh;
  font-size: 1.6vh;
  text-align: center;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  margin-left: 1vw;
  outline: none;
  transition: border-color 0.3s;
}

.sliderField:focus {
  border-color: #888;
}

ins.adsbygoogle {
  position: absolute;
  left: 2vw;
  top: 10vh;
  width: 16vw;
  height: 64vh;
  background: #ffffff;
}

sub {
  color: red;
  text-decoration: underline;
  margin: -1vh;
  padding: 0;
}

.grey {
  background: linear-gradient(45deg, #555555, #999999);
}
.grey:hover, .grey:active {
  background: linear-gradient(45deg, #999999, #555555);
}

div.option {
  justify-content: right;
}